@import '../../../styles/mixins.scss';

.skeleton {
  &__articlesList {
    max-width: 938px;
    height: 140px;
    padding: 15px 14px 24px 16px;

    display: grid;
    grid-template-areas:
      'title author'
      'tags author'
      'description author';
    grid-template-columns: 1fr max-content;
    column-gap: 85px;

    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
  }

  &__article {
    margin: 26px auto 64px auto;
    max-width: 938px;
    height: 807px;
    padding: 15px 14px 24px 16px;

    display: grid;
    grid-template-areas:
      'title author'
      'tags author'
      'description author'
      'text text'
      'text text';
    grid-template-columns: 1fr max-content;
    column-gap: 85px;

    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;

    &::after {
      content: '';
      display: inline-block;
      grid-area: text;
      width: 100%;
      height: 640px;
      margin-top: 25px;
      border-radius: 5px;
      background-color: #ebeef3;
    }
  }

  &__title,
  &__tags__tag,
  &__description,
  &__author,
  &__author::after,
  &__author::before,
  &__article::after {
    border-radius: 5px;

    @include skeletonAnimation;
  }

  &__title {
    grid-area: title;
    width: 160px;
    height: 28px;
  }

  &__tags {
    grid-area: tags;
    margin: 4px 0;
    display: flex;
    gap: 8px;
    &__tag {
      width: 38px;
      height: 20px;
    }
  }

  &__description {
    grid-area: description;
    max-width: 682px;
    height: 45px;
  }

  &__author {
    grid-area: author;
    width: 46px;
    height: 46px;
    border-radius: 50%;

    &::before {
      content: '';
      display: inline-block;
      width: 60px;
      height: 25px;
      border-radius: 5px;
      background-color: #ebeef3;
      transform: translateX(-72px);
    }

    &::after {
      content: '';
      display: inline-block;
      width: 81px;
      height: 19px;
      border-radius: 5px;
      background-color: #ebeef3;
      transform: translateX(-93px);
    }
  }
}
